body {
    font: 20px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    
  }

  .game-info {
    margin-left: 20px;
  }
  
  .board {
    flex-wrap: wrap;
    width: 130px;
  }
/* 
  .hint {
    
      -webkit-appearance: button;
      -webkit-writing-mode: horizontal-tb !important;
      text-rendering: auto;
      color: buttontext;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: center;
      align-items: flex-start;
      cursor: default;
      background-color: buttonface;
      box-sizing: border-box;
      margin: 0em;
      font: 400 13.3333px Arial;
      padding: 1px 6px;
      border-width: 2px;
      border-style: outset;
      border-color: buttonface;
      border-image: initial;
  
  
  } */